{% extends 'registration/base.html' %} {% load static %}
{% load bootstrap5 %}

{% block head %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/log.css' %}">
<link rel="stylesheet" href="{% static 'css/global.css' %}">
 {% endblock %} {% block content %}
<section class="login-section">
    <div class="container">
        <form class="login-form" method="post">
        <div class="row">
            <div class="col-md-2 image">

            </div>
            <div class="col-md-4 image">
                <img src="{% static 'images/ig.png' %}" alt="">
            </div>

            <div class="col-md-4 fom">
                <section class="login-form-container">
                    {% csrf_token %}
                    <article class="login-form-title">
                        <h1>Instagram</h1>
                        
                    </article>
                    {{ form.as_p }}
                    <article class="login-form-submit ">
                        <button type="submit ">Log In</button>
                    </article>
                </section>
            </div>
            <div class="col-md-2 image">
                
            </div>
        </div>
        <article class="login-signup">
            <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
        </article>
    </form>

    </div>
    
</section>
<script>
    $(document).ready(function () {
        $("#id_username").attr('placeholder', '{{form.username.label}}');
        $("#id_password").attr('placeholder', '{{form.password.label}}');
    });
</script>
{% endblock %}