.login-section {
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 95%;
    max-width: 400px;
    margin-inline: auto;
}

.login-form-container {
    border: 1px solid #dcdcdc;
    padding: .5rem 2rem;
    border-radius: .2rem;
}

.login-form-title {
    padding: 2rem 0;
    text-align: center;
    font-family: 'Galada', cursive;
    font-size: 2.5rem;
}

.login-form input {
    margin-block: .2rem;
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: .6rem .2rem;
    border-radius: .2rem;
}

.login-form input:focus {
    outline: 1px solid #999999;
}

.login-form-submit {
    margin-block: 2rem;
}

.login-form-submit button {
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    padding: .4rem 0;
    color: white;
    border-radius: .2rem;
    background-color: #b2dffc;
    border: 1px solid #b2dffc;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.login-form-submit button:hover {
    background-color: #84cbfb;
    border: 1px solid #84cbfb;
    transition: 0.3s ease-in-out;
}

.login-signup {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 1rem;
    border: 1px solid #dcdcdc;
    padding: .5rem 4rem;
    border-radius: .2rem;
    font-size: .8rem;
}
.reg{
    background-color: red;
}